
  
  .textNav{
  text-decoration:none;
  color: #042940;
  }
 

.ContainerNav {
  display: flex;
height:150px;
margin-top: 0px ;
margin-bottom:30px ;
background-color:#759EB8 ;
align-items: center;
text-align: center;
justify-content: center;

}

.wrapperNav{

  padding:  10px 20px;
display: flex;
align-items: center;
justify-content: space-between;
}


.CenterrNav {
  flex: 1;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}
/*
const Logo = styled.h1`
font-weight: bold;
font-size:20px;
padding:0px 8px;
${mobile({ fontSize: "5px" })}
${tablet({ fontSize: "17px"})}
`
*/



.menuItem {
font-size: 14px;
cursor: pointer;
margin-left: 15px;
margin-bottom: 15px;
border: 2px solid #000;
border-radius: 5px;
padding:5px 20px;
margin: 10px;
text-align: center;
align-items: center;
text-transform: uppercase;
cursor: pointer;
color: #000;
background-color:orange;
}
#menu1:hover{
  background-color:transparent;
}
#menu2:hover{
  background-color:transparent;
}

#menu3:hover{
  background-color:transparent;
}



